<% layout('layouts/boilerplate') %> 

<h1>Yedarm Student Page</h1>

<input type="button" class="btn btn-success my-3" onclick="location.href='/login'" value="Log In" />
<input type="button" class="btn btn-primary my-3" onclick="location.href='/register'" value="Register"/>
