<% layout('layouts/boilerplate') %> 

<div class="row">

    <h1 class="text-center">Parent Contact</h1>
    <div class="col-6 offset-3">

        <form action="/students/<%= studentId %>/parents/new" method="POST" class="needs-validation" id="parentForm" novalidate> 
            <!-- New Parent Info -->
            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating">
                        <input type="text" name="name" id="parentName" class="form-control" placeholder="Full name" required>
                        <label for="parentName" class="form-label">Parent Full name</label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a name.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" id="parentEmail" class="form-control" placeholder="name@example.com" required>
                        <label for="parentEmail" class="form-label">Parent Email</label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a valid email.</div>
                    </div>

                    <label for="parentPhone" class="form-label">Parent Phone</label>
                    <input type="number" name="phone" id="parentPhone" class="form-control" placeholder="(123) 456 7890" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid phone number</div>
                </div>
            </div>
            <div class="row g-3 mb-3">

                <div class="col-12">
                    <label for="inputStreetAddress" class="form-label">Address</label>
                    <input type="text" name="address[street]" class="form-control" id="inputStreetAddress"
                        placeholder="1234 Main St" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" name="address[city]" class="form-control" id="inputCity" required>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" name="address[state]" class="form-select" required>
                        <option disabled selected value="">Choose...</option>
                        <% for (let state of statesArray) { %>
                            <option value="<%= state %>">
                                <%= state %>
                            </option>
                        <% } %>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter the state.</div>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" name="address[zip]" class="form-control" id="inputZip"
                        maxlength="5" required>
                </div>
                <small id="contactHelp" class="form-text text-muted">We'll never share your contact information with
                    anyone else. This information is for emergency contact purposes only.</small>
            
            </div>
            
            <div class="row justify-content-md-center">Is this parent a KCPC member?</div>
            <div class="row mb-4 justify-content-md-center">
                <div class="col-md-auto text-center">
                    <input type="radio" id="kcpcMember" name="kcpcMember" class="form-check-input mr-1" value='true' required>
                    <label for="kcpcMember" class="radio-inline">Yes</label>
                    <input type="radio" id="kcpcMemberfalse" name="kcpcMember" class="form-check-input mr-1" value='false' required>
                    <label for="kcpcMemberfalse" class="radio-inline">No</label>
                </div>
            </div>
            <button type="submit" class="btn btn-success" style="background-color: #28a745; border-color: #28a745;">Submit</button>
        </form>

        <br><br>
        <a href="/students/<%= studentId %>">Back to Student Profile</a>
        <a href="/students">Back to Students</a>
        <br><br>

    </div>

</div>
