#loginPage {
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.338), rgba(0, 0, 0, 0.769)), url(https://images.unsplash.com/photo-1463320898484-cdee8141c787?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.447), rgba(62, 62, 62, 0.769)), url(https://images.unsplash.com/photo-1492944557828-11e576351057?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
    background-size: cover;
    background-position: center;
}
/* #loginPage .navbar-brand {
    font-weight: 450;
} */
#loginPage .nav-link:hover {
    color: aliceblue;
}